@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
:root {
  --chambray: #374790;
  --cream: hsl(32, 37%, 92%);
  --dark-cyan: hsl(158, 36%, 37%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --everglade: hsl(158, 41%, 18%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --white: hsl(0, 0%, 100%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  align-items: center;
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
  min-height: 100%;
  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

main {
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

::selection {
  background: var(--dark-cyan);
  color: var(--white);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.card {
  background-color: var(--white);
  border-radius: 10px;
  display: grid;
  margin: 1.75rem 1rem 0;
  max-width: 21.438rem;
  overflow: hidden;
}
@media screen and (min-width: 42rem) {
  .card {
    grid-template-columns: 1fr 1fr;
    max-width: 37.5rem;
  }
}
.card__image_container {
  filter: brightness(90%) contrast(115%);
}
@media screen and (min-width: 42rem) {
  .card__image_container picture img {
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    position: absolute;
  }
}
.card__text_container {
  display: flex;
  flex-direction: column;
  padding: 24px;
}
@media screen and (min-width: 42rem) {
  .card__text_container {
    padding: 32px;
  }
}
.card__heading_group p {
  color: var(--dark-grayish-blue);
  font: 500 0.75rem/1.5 Montserrat, sans-serif;
  letter-spacing: 0.417em;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
}
@media screen and (min-width: 42rem) {
  .card__heading_group p {
    margin-bottom: 1.25rem;
  }
}
.card__heading_group h2 {
  color: var(--very-dark-blue);
  font: 700 2rem/1 Fraunces, serif;
  margin-bottom: 1rem;
}
@media screen and (min-width: 42rem) {
  .card__heading_group h2 {
    margin-bottom: 1.5rem;
  }
}
.card__description {
  color: var(--dark-grayish-blue);
  font: 500 0.875rem/1.55 Montserrat, sans-serif;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 42rem) {
  .card__description {
    margin-bottom: 1.813rem;
  }
}
.card__price_container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1.188rem;
  margin-bottom: 1.25rem;
}
.card__price_container span {
  color: var(--dark-cyan);
  font: 700 2rem/1 Fraunces, serif;
}
.card__price_container s {
  color: var(--dark-grayish-blue);
  font: 500 0.813rem/1.5 Montserrat, sans-serif;
}
@media screen and (min-width: 42rem) {
  .card__price_container {
    margin-bottom: 1.875rem;
  }
}
.card__btn {
  margin-top: auto;
  width: 100%;
}

.btn {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: center;
}
.btn--primary {
  background-color: var(--dark-cyan);
  border: none;
  border-radius: 8px;
  color: var(--white);
  font: 700 0.875rem Montserrat, sans-serif;
  padding: 16px;
}
.btn--primary img {
  height: 1.143em;
  min-width: 1.071em;
  width: 1.071em;
}
.btn--primary:hover, .btn--primary:focus {
  background-color: var(--everglade);
}

.attribution {
  color: var(--very-dark-blue);
  font: 500 0.688rem/1.5 Montserrat, sans-serif;
  margin: 0.359rem 1rem;
  text-align: center;
}
.attribution a {
  color: var(--chambray);
}
.attribution a:hover, .attribution a:focus {
  color: var(--very-dark-blue);
  text-decoration: none;
}

/*# sourceMappingURL=compiled_style.css.map */
