.card {
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 3rem 1rem 1rem;
    overflow: hidden;

    @media screen and (min-width: 90rem) {
        flex-direction: row;
    }

    &__image_container {
        picture {
            height: 240px;
            width: 343px;

            img {
                min-height: 240px;
                object-fit: cover;
            }
        }

        @media screen and (min-width: 90rem) {
            picture {
                height: 450px;
                width: 300px;
            }
        }
    }

    &__text_container {
        display: flex;
        flex-direction: column;
        max-width: 21.438rem;
        padding: 24px;

        @media screen and (min-width: 90rem) {
            max-width: 18.75rem;
            padding: 32px;
        }
    }

    &__heading_group {
        p {
            color: var(--dark-grayish-blue);
            display: inline-block;
            font: 500 0.75rem/1.5 Montserrat, sans-serif;
            letter-spacing: 0.313rem;
            margin-bottom: 0.75rem;
            text-transform: uppercase;

            @media screen and (min-width: 90rem) {
                margin-bottom: 1.25rem;
            }
        }

        h2 {
            color: var(--very-dark-blue);
            font: 700 2rem/1 Fraunces, serif;
            margin-bottom: 1rem;

            @media screen and (min-width: 90rem) {
                margin-bottom: 1.5rem;
            }
        }
    }

    &__description {
        color: var(--dark-grayish-blue);
        font: 500 0.875rem/1.5 Montserrat, sans-serif;
        margin-bottom: 1.5rem;

        @media screen and (min-width: 90rem) {
            margin-bottom: 1.813rem;
        }
    }

    &__price_container {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 19px;
        margin-bottom: 1.25rem;

        span {
            color: var(--dark-cyan);
            font: 700 2rem/1 Fraunces, serif;
        }

        s {
            color: var(--dark-grayish-blue);
            font: 500 0.813rem/1.5 Montserrat, sans-serif;
        }

        @media screen and (min-width: 90rem) {
            margin-bottom: 1.875rem;
        }
    }
}