:root {
    --chambray: #374790;
    --cream: hsl(32, 37%, 92%);
    --dark-cyan: hsl(158, 36%, 37%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --everglade: hsl(158, 41%, 18%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --white: hsl(0, 0%, 100%);
}