@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

:root {
    /* Primary Colors */
    --attribution-blue: hsl(228, 45%, 44%);
    --cream: hsl(30, 38%, 92%);
    --dark-cyan: hsl(158, 36%, 37%);
    --darker-cyan: hsl(158, 42%, 18%);

    /* Neutral Colors */
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --white: hsl(0, 0%, 100%);

}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    background-color: var(--cream);
    line-height: 1.5;
    min-height: 100%;
    text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

main {
    display: flex;
    justify-content: center;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

.attribution { 
    font-family: 'Montserrat', sans-serif;
    font-size: 0.688rem; 
    text-align: center; 

    a {
        color: var(--attribution-blue);
    }
}

.card {
    background-color: var(--white);
    border-radius: 10px;
    margin: 28px 16px;
    max-width: 21.438rem;
    overflow: hidden;
}

.card__image_desktop {
    height: 450px;
    width: 300px;
}

.card__image_mobile {
    height: 240px;
    width: 343px;
}

.card__text_container {
    padding: 24px;

    @media screen and (min-width: 90rem) {
        padding: 32px;
    }
}

.card__category {
    color: var(--dark-grayish-blue);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    text-transform: uppercase;
}

.card__heading {
    color: var(--very-dark-blue);
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    line-height: 1;
}

.card__description {
    color: var(--dark-grayish-blue);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
}

.card__button {
    background-color: var(--dark-cyan);
    border: none;
    border-radius: 8px;
    color: var(--white);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;

    &:hover, &:focus {
        background-color: var(--darker-cyan);
    }
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

/* 
Font

Montserrat
- Weights: 500, 700

Fraunces
- Weights: 700 
*/